/* Base
---------------------------------------------- */
body {
  background: #fff;
  color: #000;
  font-family: 'open sans';
  transition: ease .2s all;
}

/* Typography
---------------------------------------------- */

h1 {
  font-family: 'open sans', 'serif';
}

/* Lists
---------------------------------------------- */
.list-reset {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Footer
---------------------------------------------- */
footer {
  margin-top: 1em;
}

@import 'stylesheets/vendor/tabs.scss';
@import '../../../node_modules/selectize/dist/css/selectize.css';
