/* Base
---------------------------------------------- */
body {
  background: #fff;
  color: #000;
  font-family: "open sans";
}

/* Typography
---------------------------------------------- */

h1 {
  font-family: "serif";
}

/* Lists
---------------------------------------------- */
.list-reset {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Footer
---------------------------------------------- */
footer {
  margin-top: 1em;
}

// example of importing a file installed in node_modules:
// @import "../../../node_modules/selectize/dist/css/selectize.css";
